.optionsBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-size: x-large;
}

.optionsBox a, .chakra-card__root:hover {
    transition: 0.3s ease;
    transform: scale(1.02);
}

.optionsBox a:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
    transform: scale(1.03);
}