@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
}

body {
  min-height: 100%;
  background-color: var(--background);
  color: var(--foreground);
}

.flex-sbs-stock
{
  display: flex;
  flex-direction: row;
}

.flexBox
{
  display: flex;
}

.flex-column
{
  flex-direction: column;
}

h1 .material-symbols-outlined {
  color: rgb(1, 92, 1);
  font-size: 50px;
  text-align: center;
  align-items: center;
}