.subMflex-sbs {
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    transition: all ease-in-out;
    gap: 15px;
}

.subjectName {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding: 30px;
}

/* tutor login home page */
.tutor-interface {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-box {
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 30px;
}

.header-box h1 {
    font-size: 45px;
    text-align: center;
    align-items: center;
}

.header-box h1 span {
    color: grey;
    font-size: 30px;
    text-align: center;
    align-items: center;
}

.body-box {
    /* box-shadow: -5px 0 5px rgba(0,0,0,0.25); */
    font-weight: bold;
    min-height: 65vh;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 50 0 100 0;
    flex-wrap: nowrap;
}

.body-box a:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}

.profile-box {
    border: 2px rgb(53, 53, 53) solid;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    align-items: center;
    /* height: 500px; */
    width: 40%;
    transition: 0.3s ease;
}

.profile-box img {
    padding: 0; 
    margin: 0;
    width: 100%;
    max-width: 1000px;
    object-fit: cover;
    padding: 10%;
}

.apply-box {
    border: 2px rgb(53, 53, 53) solid;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    align-items: center;
    /* height: 500px; */
    width: 40%;
    transition: 0.3s ease;
}

.apply-box img {
    padding: 0; 
    margin: 0;
    width: 100%;
    max-width: 1000px;
    object-fit: cover;
}

.body-box a::after,
.body-box a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(59, 189, 91);
  opacity: 0.5;
  border-radius: 10px;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
  z-index: -999;
}

.body-box a:hover::after,
.body-box a:hover::before {
  transform: scaleX(1);
  border-radius: 10px;
}

/* LECTURER AND TUTOR COURSE PAGE */
.lecture-interface {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subjects-header {
    font-weight: bold;
    text-align: left;
    align-items: end;
    font-size: 45px;
    padding: 50px 20px 0px 50px;
    background: rgb(229, 229, 229);
    color: rgb(59, 189, 91);
    border-bottom: 2px solid rgb(59, 189, 91);
}

.l-header {
    color: rgb(69, 69, 69);
    background: rgb(229, 229, 229);
    display: flex;
    font-weight: bold;
    padding: 20px 20px 0px 50px;
}

.l-header h2 {
    font-size: 40px;
}

.l-header span {
    color: rgb(59, 189, 91);
}

.subjects-box {
    min-height: 50vh;
    padding: 50px;
    background: linear-gradient(to left, #f9f9f9, #e0f7ec);
}

.subjects-box-t {
    padding: 50px;
    min-height: 63.5vh;
    background: linear-gradient(to left, #f9f9f9, #e0f7ec);
}

