@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
}

body {
  min-height: 100vh;
  color: var(--foreground);
}

.main-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex:1;
  padding: 10px 30px
}

.flex-sbs-stock
{
  display: flex;
  flex-direction: row;
}

.flexBox
{
  display: flex;
}

.flex-column
{
  flex-direction: column;
}

h1 .material-symbols-outlined {
  color: purple;
  font-size: 50px;
  text-align: center;
  align-items: center;
}

.hidden{
  display: none;
}

.fixed-bottom{
    position: fixed;
    bottom: 0px;
}

.inv{
  margin-left: -30px;
}