/* Overall area for content on the home page */
.home-content
{
    margin: 10px;
}


/* Lecturer Formatting */

/* Grid that displays subjects */
.home-grid, .tutor-grid, .lecture-grid
{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 30px;
    font-size: 20px;
    width: 100%;
    justify-content: center;
}

.button-apply {
    padding: 20 5 5 5;
    width: 100%;
}

.button-apply .chakra-button {
    width: 100%;
}

.chakra-button:hover {
    background-color: rgb(59, 189, 91);
    color: white;
}

/* can adjust */
.lecture-grid a{
    width: 45%;
}
/* 
Be careful of comma placement */
/* Targets both l-grid and chakracard */
.lecture-grid a .chakra-card__root {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
    transition: 0.3s ease;
    border: 2px solid grey;
    border-radius: 8px;
    width: 100%;
    color: black;
    background-color: white;
}

/* chakracard in tutor grid */
.tutor-grid a .chakra-card__root {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
    transition: 0.3s ease;
    border: 2px solid grey;
    border-radius: 8px;
    width: 45%;
    color: black;
    background-color: white;
}

.courses-format {
    width: 45%;
}

.courses-format .chakra-card__root{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
    transition: 0.3s ease;
    border: 2px solid grey;
    border-radius: 8px;
    width: 100%;
}

.home-grid a, .chakra-card__root:hover {
    transition: 0.3s ease;
    transform: scale(1.02);
}

.home-grid a:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
    transform: scale(1.03);
}

/* Container for each subject */
.subject-container
{
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15em;
    min-height: 5em;
    text-align: center;
    text-wrap: wrap;
    background-color: rgb(228, 228, 228);
    border: 2px solid black;
}

.button-apply h2{
    display: flex;
    font-size: 25px;
    color: rgb(59, 189, 91);
    padding: 1px;
    justify-content: center;
}
