.profile {
    padding: 50px;
}

.userHeader {
    margin: 0 auto;
    display: block;
    padding: 50px;
    background-color: rgb(240, 240, 233);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-radius: 50px;
    justify-content: center;
    background-image: url("/header-back.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}

pre {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*Should be same width as save */
    width: 400px; 
    height: 100px;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    border: 1px black solid;
}

.save .chakra-button {
    gap: 30px;
    width: 80px;
    height: 40px;
}

.save {
    position: relative;
    left: 320px;
    padding-top: 5px;
}

.userHeader h1 {
    font-size: 60px;
}

.userHeader p{
    font-size: 20px;
}

.details {
    margin-top: 50px;
    display: flex;
    width: 100%;
}

.details h2 {
    font-weight: 500;
    font-size: 30px;
}

.details p {
    font-size: 20px;
    padding: 0 0 20 0;
}

.box1 {
    flex-direction: column;
    /* border: 2px solid red; */
    width: 60%;
    padding: 10px;
    margin-left: 50px;
}

.box1 p {
    width: 80%;
}

.box2 {
    flex-direction: column;
    /* border: 2px solid green; */
    width: 40%;
    padding: 10px;
    margin-right: 50px;
}

.box2 p {
    width: 60%;
}

.box2 .divider {
    border: none;
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
    width: 60%;
    justify-content: center;
}

.about {
    padding-bottom: 50px;
    /* background-color: azure; */
}

.about input {
    border: 1px black solid;
}

.prevRoles {
    padding-bottom: 50px;
    /* background-color: rgb(255, 240, 240); */
}

.education {
    padding-bottom: 50px;
    /* background-color: rgb(112, 179, 35); */
}

.skills {
    padding-bottom: 50px;
    /* background-color: rgb(167, 35, 179); */
}

.comments {
    margin: 0 auto;
    display: block;
    padding: 50px;
    background-color: #b7f1ba;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-radius: 50px;
    justify-content: center;
}

.comments h2 {
    font-size: 30px;
}

.comments .chakra-card__root {
    display: flex;
    font-size: 20px;
}

.skills li {
    padding: 5 0 5 0;
}

.prevRoles li {
    padding: 5 0 5 0;
}

.education li {
    padding: 5 0 5 0;
}

.languages li {
    padding: 5 0 5 0;
}

.cert li {
    padding: 5 0 5 0;
}

.nameEdit textarea {
    width: 100%;
    font-size: 50px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

.nameEdit .save {
    display: flex;
    left: 0;
    justify-content: flex-end;
}

.nameEdit .save .chakra-button:hover{
    background: rgba(0, 3, 161, 0.61);
    outline: 3px solid rgb(249, 249, 249);
    color: rgb(241, 241, 241);
}

.userHeader h1 .chakra-button {
}

.userHeader h1 .chakra-button:hover {
    background: rgba(255, 255, 255, 0.2);
    outline: 3px solid rgba(255, 255, 255, 0.3);
}

.userHeader h1 span {
    color: white;
}

.delete .chakra-button{
    display: inline-flex;
}

.delete .chakra-button:hover{
    display: inline-flex;
    background: rgba(250, 0, 0, 0.568);
}