
.page {
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    padding: 50px;
    gap: 30px;
}

.page .chakra-button {
    width: 30%;
    height: 10%;
    font-size: 30px;
    border-radius: 30px;
}

.page .chakra-button:hover {
    background-color: rgb(59, 189, 91);
    color: white;
}